div {
background: rgb(185, 185, 185);
margin: 70px 300px 0px 300px ;
padding: 80px ;
}


.a {
margin: 10px;
width: 200px;
height: 30px;
}





.c {
    margin: 10px;
    width: 150px;
height: 30px;
}

.f {
    margin: 10px;
}

.p {
    margin: 10px;
    width: 200px;
height: 25px;
}

.s {
    margin: 10px 0px 30px 0px ;
    width: 200px;
height: 30px;
}


h1 {
    margin: 0px 0px 50px 0px ;
}


.e {
    width: 80px;
    height: 30px; 
}



