div {

    background: rgb(185, 185, 185) center;
    margin: 70px 400px  0px 400px  ;
    padding: 100px;

}

#a {

    width: 200px ;
    height: 20px ;
}

#s {

    width: 80px ;
    height: 35px ;
}


h1 { 
    margin: 0px 0px 130px 0px ;
}

